<h1>Name Generator</h1>
<div>
  <%= form_with :url => '/name_gen', :class => 'form-horizontal', :html => {:onsubmit => 'return false;'} do |f| %>
  <div class='form-group'>
    <div class='col-sm-3'>
      <%= f.label 'race', class: 'sr-only' %>
      <%= f.select 'race', options_for_select(Race.all.order(:name).collect{|r|[r.name, r.name.delete(' ')]}), {}, {:autocomplete => 'off', :id => 'race'} %>
    </div>
    <div class='col-sm-2'>
      <%= f.label 'gender', class: 'sr-only' %>
      <%= f.select 'gender', options_for_select([['All Genders', 'All'],['Male','Male'],['Female','Female']]), {}, {:autocomplete => 'off', :id => 'gender'} %>
    </div>
    <div class='col-sm-2'>
      <%= f.label 'Number of Names', class: 'sr-only' %>
      <%= f.text_field 'Number of Names', class: 'form-control input-sm', type: 'number', min: 1, max: 50, value: 10, autocomplete: 'off', id: 'number' %>
    </div>
    <div class='col-sm-3'>
      <%= f.check_box "descriptors", id: 'descriptors', autocomplete: 'off' %>
      <%= f.label "descriptors?", class: 'form-check-label' %>
    </div>
    <div class='col-sm-2'>
      <%= button_tag 'Generate Names', type: 'button', id: 'generate', class: 'btn btn-primary mb-2' %>
    </div>
  </div>
  <% end %>
</div>
<div class='attribute-border'></div>
<div id='names'>
</div>
<script type='text/javascript'>
  function rand(list) {
    return list[Math.floor(Math.random()*list.length)];
  }
  function generate_name() {
    var output = '';
    var group_of_names = <%= raw NAME_LIST.to_json %>[$('#race').val()][$('#gender').val()];
    var descriptors = <%= raw DESCRIPTORS %>;
    for (var i = 0; i < $('#number').val(); i++) {
      output += '<li>';
      for (var n = 0; n < group_of_names.length; n++) {
        output += rand(group_of_names[n]) + ' ';
      }
      if ($('#descriptors').is(':checked')) {
        output += ' the ' + rand(descriptors);
      }
      output += '</li>';
    }
    return output;
  }
  $('#generate').click(function() {
    $('#names').html('<ul>');
    if ($('#number').val() > 50) { $('#number').val(50) }
    $('#names').append(generate_name());
    $('#names').append('</ul>');
  });
</script>
