<h1><%= @trait.name %></h1>
<center>For <%= @trait.race.name %> Races</center>
<div style='margin-top: 25px;'>
  <%= @trait.description %>
</div>
<% if (@trait.table.to_h.keys.length > 0) %>
  <div style='margin-top: 25px;'>
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <% @trait.table.to_h['headers'].each do |head| %>
            <th><%= head %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @trait.table.to_h['rows'].each do |row| %>
          <tr>
            <% row.each do |r| %>
              <td><%= r %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
