<h1><%= @race.name %></h1>
<div class='text-center'>
  <%= image_tag @race.image, class: 'rounded', alt: @race.name, size: '277x400' %>
</div>
<div class='attribute-border'></div>
<div>
  <%= @race.description %>
</div>
<div class='attribute-border'></div>
<h3>Biography</h3>
<div>
  <%= @race.bio %>
</div>
<div class='attribute-border'></div>
<h3>Race Info</h3>
<div>
  <ul>
    <li>Languages:<ul>
      <% @race.languages.each do |lang| %>
        <li><%= link_to lang, language_path(lang) %></li>
      <% end %>
      <% if @race.free_languages > 0 %>
        <li><%= @race.free_languages %> of user's choice</li>
      <% end %>
    </ul></li>
    <li>Age<ul><li><%= @race.age_info %></li></ul></li>
    <li>Size: <%= @race.size.name %></li>
    <li>Size Info:<ul><li><%= @race.size_info %></li></ul>
    <li>Height: <%= @race.base_height %>+<%= @race.height_mod %> inches</li>
    <li>Weight: <%= @race.base_weight %>&times;<%= @race.weight_mod %> lbs.</li>
  </ul>
</div>
<div class='attribute-border'></div>
<h3>Stats</h3>
<div>
  <ul>
    <li>Strength: <%= @race.str %></li>
    <li>Dexterity: <%= @race.dex %></li>
    <li>Consitution: <%= @race.con %></li>
    <li>Wisdom: <%= @race.wis %></li>
    <li>Intelligence: <%= @race.int %></li>
    <li>Charisma: <%= @race.cha %></li>
    <% if @race.free_points > 0 %>
      <li><%= @race.free_points %> of user's choice</li>
    <% end %>
  </ul>
</div>
<div class='attribute-border'></div>
<h3>Traits</h3>
<div>
  <ul>
    <% @race.traits.each do |trait| %>
      <% info = @traits.select{|t|t.name == trait}.first %>
      <li><%= link_to info.name, trait_path(info) %></li>
    <% end %>
</div>
<div class='attribute-border'></div>
